
#btn-addToCart {
    width: 100%;
    height: 41px;

    @include buttonTheme($theme: white, $font-size: 0.8em, $font-color: $dark-color);
    font-family: $font;

    padding-left: 1rem;
    cursor: pointer;

    img {
        position: absolute;
        top: 10px;
        left: 25px;
    }
}

.btn-productAmount {
    width: 100%;
    height: 41px;

    @include buttonTheme($theme: $primary-color, $font-size: 0.8em, $font-color: white);
    font-family: $font;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}

.btn-addSubstract {
    border: 1px solid white;
    background: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    color: white;
    text-align: center;

    &:active {
        background-color: white;
        color: $primary-color;
    }
}

.btn-confirm {
    width: 100%;
    height: 53px;

    @include buttonTheme($theme: $primary-color,$font-size: 1rem, $font-color: white);
}